@import '../../../../scss/variables';

.self-made-container {
  width: 100%;

  .self-made-ingredients-container {
    background-color: $custom-ingredients-container;
    padding: 32px 0;
    height: 286px;
  }
}

.burger-container {
  overflow: scroll;
  height: 384px;
  margin: 64px 0;
  border: 1px solid black;
  position: relative;

  .price-box-container {
    position: absolute;
    top: 100px;
    height: 40px;
    width: 160px;
    background-color: #ffdd00;
    color: $black;
  }
}

.price-and-icon {
  height: 100%;
  font-weight: 700;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
  }

  span.price-colon {
    margin: 0 8px;
  }
}

.ingredients-container {
  width: 600px;
  margin: auto;
  border: 1px solid #c4c4c4;
  padding: 0 32px 16px;

  h4 {
    font-size: 1.25rem;
  }
}

%button-ing {
  padding: 8px 16px;
  margin: 0 20px;
  border: none;
  background-color: $ingredient-button-color;
  font-size: 1.05rem;
  font-weight: 600;
}

.ing-button {
  @extend %button-ing;
}

.ing-button-active {
  @extend %button-ing;
  background-color: $sun-color;
}

.ing-button:hover {
  cursor: pointer;
  background-color: $sun-color;
}
