@import '../../../../scss/variables';

.self-made-container {
  width: 100%;
}

.self-made-ingredients-container {
  background-color: $custom-ingredients-container;
  height: 286px;
}

.burger-container {
  overflow: scroll;
  height: 384px;
  position: relative;

  .price-box-container {
    position: absolute;
    top: 100px;
    background-color: $farm-yellow-dark;
    color: $white;
  }
}

.price-and-icon {
  height: 100%;
  font-weight: $font-weight-bold;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.ingredients-container {
  width: 600px;
  margin: auto;
}
